MONGODB_URL
MONGODB_APP_NAME
PORT

# DEV OR PROD
ENVIRONMENT

BASE_DEV_URL
PROD_DEV_URL

#Access token & Refresh token
ACCESS_TOKEN_SECRET
ACCESS_TOKEN_EXPIRY

REFRESH_TOKEN_SECRET
REFRESH_TOKEN_EXPIRY

